{% extends "fakesearch/base.html" %}

{% block title %}FakeSearch{% endblock %}

{% block active_menu %}
    <li><a href="{% url 'fakesearch:index' %}">Home</a></li>
    <li class="active"><a href="{% url 'fakesearch:about' %}">About</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'fakesearch:experiments' %}">Experiments</a></li>
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <p> Made with love from <a href="mailto:joaopalotti@gmail.com" target="_top">Joao Palotti</a> and Guido Zuccon. </p>
    </div>

{% endblock %}
