{% extends "fakesearch/base.html" %}
{% load bootstrap3 %}
{% block title %}Register with FakeSearch{% endblock %}
    
{% block body_block %}
    
    <div class="jumbotron">
    {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/fakesearch/">Return to the homepage.</a><br />
    {% else %}
    <form class="form" id="user_form" method="post" action="/fakesearch/register/" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form user_form  %}
            {% bootstrap_form profile_form  %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Register
            </button>
            {% endbuttons %}
        </form>
    {% endif %}
    </div>

{% endblock %}
