{% extends "fakesearch/base.html" %}
{% block title %}Register with FakeSearch{% endblock %}
    
{% block body_block %}
    
    <div class="jumbotron">
    {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'fakesearch:index' %}">Return to the homepage.</a><br />
    {% else %}
       <form class="form" id="user_form" method="post" action="{% url 'fakesearch:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form  }}
            <br/>
            <br/>
            <div class="btn-group" data-toggle="buttons">
                {% for choice in profile_form.expertise %}
                    <label class="btn btn-primary ">
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                {% endfor %}
            </div>
            <br/>
            <br/>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Register
            </button>
        </form>
    {% endif %}
    </div>

{% endblock %}
